---
import '../styles/globals.css';
import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
    schema?: string;
}

const { 
    title, 
    description = "Pakenham Landscapers - Residential & Commercial Landscaping Specialists.",
    schema
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO 
            title={title}
            description={description}
            schema={schema}
        />
	</head>
	<body class="bg-slate-50">
        <Header />
		<slot />
        <Footer />
	</body>
</html>
